.navBar {
    width: 100%;
    background-color: #353C43;
    height: 50px;
}

.navBarItem {
    display: inline-block;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, .75);
    background-color: #353C43;
    margin: 10px;
    height: 38px;
    width: 100px;
}
.navBarItem:focus{
    outline: 0;
}

.navBarItem:hover{
    color: rgba(255, 255, 255, 1);
}

#logout {
    float: right;
}

.content {
    margin-left: 80px;
    margin-top: 15px;
    padding: 30px;
}

.emailEntryDisabled{
    text-decoration: line-through;
    color: #999;
}

.msgEntry{
    background-color: white;
    margin: 20px;
}

.selectedButton{
    border-bottom: 3px solid rgba(255, 255, 255, .75);
}

.contentItem{
    margin: 20px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 30px;
}

ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

li{
    padding-bottom: 15px;
}

.contentBtn{
    outline: none;
    border: none;

}
.contentBtn:focus{
    border: 0;
}

.submitBtn{
    background-color: #26c6da;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    width: 90px;
    height: 43px;
    margin-top: 30px;
}

.emailtoggle{
    margin: 5px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    margin-left: 35px;
}

.emailtoggle:hover{
    opacity: 0.8;
}

.remove{
    background-color: #E57373;
    margin-left: 18px;
}

.submitBtn:hover{
    background-color: #00acc1;
}

.contentItem h3{
    padding-bottom: 30px;
    padding-top: 30px;
}

.title{
    color: white;
}

.contact-input{
    float: left;
    height: 33px;
}

.select-style {
    border: 1px solid #ccc;
    width: 90px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("images/drop-down-arrow.png") no-repeat 90% 50%;
    background-size: 10px 10px;
    float: left;
    margin-left: 15px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.clear{
    clear: both;
}

.grey{
    opacity: 0.6;
    margin-top: 10px;
}

.group { 
  position:relative; 
  margin-bottom:45px; 
}

.paperi input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 50%;
  border:none;
  border-bottom:1px solid #999;

}
.paperi input:focus{
  outline:none;
}

.paperi textarea {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 50%;
  border:none;
  border-bottom:1px solid #999;
  resize: none;
}
.paperi textarea:focus{
  outline:none;
}
.paperi label{
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left: 5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bari  { position:relative; display:block; width:50%;}
.bari:before, .bari:after   {
  content:'';
  height:1.5px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#26c6da; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bari:before {
  left:50%;
}
.bari:after {
  right:50%; 
}

.paperi input:focus ~ label, input:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#26c6da;
}

.paperi input:focus ~ .bari:before, input:focus ~ .bari:after {
  width:50%;
}

.paperi textarea:focus ~ label, textarea:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#26c6da;
}

.paperi textarea:focus ~ .bari:before, textarea:focus ~ .bari:after {
  width:50%;
}

// .highlight {
//   position:absolute;
//   height:60%; 
//   width:100px; 
//   top:25%; 
//   left:0;
//   pointer-events:none;
//   opacity:0.5;
// }

/* active state */
.paperi input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* active state */
.paperi textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.btn {
  width: 100px;
  height: 50px;
  outline: none;
  border: none;
  background-color: #26c6da;
  color: white;
  font-size: 17px !important;
  border-radius: 10px;
  padding: 0;
}

.btn:hover {
  background-color: #00acc1;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#26c6da; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#26c6da; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#26c6da; }
  to  { width:0; background:transparent; }
}

#bottom-text{
    margin-top: 30px; 
    margin-bottom: 30px;
}












